<head>
  <title>Proyecto tutorias en línea</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Lato"
    rel="stylesheet"
    type="text/css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <a href="principal"><mat-toolbar>LOGO</mat-toolbar></a>
    <mat-nav-list>
      <a mat-list-item href="login">Log-In</a>
      <a mat-list-item href="tutorias">Tutorias</a>
      <a mat-list-item href="cursos">Cursos</a>
      <a mat-list-item href="conocenos">Conócenos</a>
      <a mat-list-item href="politicas">Politicas </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <body>
      <div class="jumbotron text-center">
        <h1>Online Tutoring</h1>
        <p>Los únicos en el Ecuador</p>
        <form></form>
      </div>

      <div id="contact" class="container-fluid bg-grey">
        <h2 class="text-center">CONTÁCTANOS</h2>
        <div class="row">
          <div class="col-sm-5">
            <p>
              Contactanos y te enviaremos la información de las tutorias que
              deseas.
            </p>
            <p>
              <span class="glyphicon glyphicon-map-marker"></span>
              Guayaquil-Ecuador
            </p>
            <p><span class="glyphicon glyphicon-phone"></span> +593 89561247</p>
            <p>
              <span class="glyphicon glyphicon-envelope"></span>
              openlearning@gmail.com
            </p>
          </div>
          <div class="col-sm-6 slideanim">
            <div class="row">
              <div class="col-sm-6 form-group">
                <input
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="Nombres"
                  type="text"
                  required
                />
              </div>
              <div class="col-sm-6 form-group">
                <input
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Email"
                  type="email"
                  required
                />
              </div>
            </div>
            <textarea
              class="form-control"
              id="comments"
              name="comments"
              placeholder="Comentarios"
              rows="5"
            ></textarea
            ><br />
            <div class="row">
              <div class="col-sm-12 form-group">
                <button class="btn btn-default pull-right" type="submit">
                  Enviar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer id="footer">
        <div class="inner">
          <p class="id_small">
            © El contenido de esta obra es de propiedad intelectual de "Proyecto
            de Aprendizaje". Todos los derechos reservados.Prohibida su
            reproducción total,parcial, comunicación pública o distribución sin
            autorización previa del titular de los derechos
          </p>
          <ul class="icons">
            <li>
              <a href="#" class="icon fa-twitter"
                ><span class="label">Twitter</span></a
              >
            </li>
            <li>
              <a href="#" class="icon fa-facebook"
                ><span class="label">Facebook</span></a
              >
            </li>
            <li>
              <a href="#" class="icon fa-instagram"
                ><span class="label">Instagram</span></a
              >
            </li>
            <li>
              <a href="#" class="icon fa-envelope"
                ><span class="label">Email</span></a
              >
            </li>
          </ul>
        </div>
      </footer>
    </body>
  </mat-sidenav-content>
</mat-sidenav-container>
